@model DOAN_WEB_GYM.Models.PT

@{
    ViewBag.Title = "SuaPT";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <meta charset="UTF-8">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Flaticon Font -->
    <link href="~/Scripts/lib/flaticon/font/flaticon.css" rel="stylesheet">

    <!--@*=========================*@-->
    @* <link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/font-awesomemin.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/css/style.css.map")" rel="stylesheet" type="text/css" />*@
    <link href="~/Content/css/style1.css" rel="stylesheet" />
    <link href="~/Content/css/style2.css" rel="stylesheet" />
    <link href="~/Content/font-awesomemin.css" rel="stylesheet" />
</head>

<body>
    <!--**********************************
            Content body start
        ***********************************-->
    <div class="content-body">

        <div class="row page-titles mx-0">
            <div class="col p-md-0">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
                </ol>
            </div>
        </div>
        <!-- row -->
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-validation">
                                <form class="form-valide" action="#" method="post">

                                    @Html.AntiForgeryToken()

                                    <div class="form-horizontal">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-group row">
                                            @*@Html.LabelFor(model => model.CLBName, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                            <label class="col-lg-4 col-form-label" for="val-username">
                                                Tên PT Hướng Dẫn <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                @Html.EditorFor(model => model.namePT, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.namePT, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-suggestions">
                                                Số Điện Thoại <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                @Html.EditorFor(model => model.phoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.phoneNumber, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-website">
                                                Gmail    <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                @Html.EditorFor(model => model.gmail, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.gmail, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-suggestions">
                                                Images <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                @Html.EditorFor(model => model.urlImage, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.urlImage, "", new { @class = "text-danger" })
                                                <input type="file" name="fileUpload" id="fileUpload" accept="image/*" style="display:none;" />
                                                <input type="button" id="btnUpload" value="Chọn" class="btn btn-success" />
                                            </div>
                                        </div>



                                        <div class="form-group">
                                            <div class="col-lg-8 ml-auto">
                                                <button type="submit" class="btn btn-primary" value="Create">Submit</button>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>