<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - My GYM</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    @* <link href="~/Content/bootstrap.min.css" rel="stylesheet">*@
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="~/Content/shop-homepage.css" rel="stylesheet">

</head>
<body>
    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="/Admin/ManHinhAdmin">
                    @*  <b class="logo-abbr"><img src="~/Content/Images/logo.jpg" alt=""> </b>*@
                    <span class="logo-compact"><img src="./images/logo-compact.png" alt=""></span>
                    <span class="brand-title">
                        <img src="images/logo-text.png" alt="">
                    </span>
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->
        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content clearfix">

                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>
                <div class="header-left">
                    <div class="input-group icons">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1"><i class="mdi mdi-magnify"></i></span>
                        </div>
                        <input type="search" class="form-control" placeholder="Search Dashboard" aria-label="Search Dashboard">
                        <div class="drop-down   d-md-none">
                            <form action="#">
                                <input type="text" class="form-control" placeholder="Search">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="header-right">
                    <ul class="clearfix">

                        <li class="icons dropdown">
                            <div class="user-img c-pointer position-relative" data-toggle="dropdown">
                                <span class="activity active"></span>
                                <img src="~/Content/Images/testimonial-1.jpg" height="40" width="40" alt="">
                            </div>
                            <div class="drop-down dropdown-profile   dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
                                        @*    <li>
                                                <a href="app-profile.html"><i class="icon-user"></i> <span>Profile</span></a>
                                            </li>
                                            <li>
                                                <a href="email-inbox.html"><i class="icon-envelope-open"></i> <span>Inbox</span> <div class="badge gradient-3 badge-pill badge-primary">3</div></a>
                                            </li>

                                            <hr class="my-2">
                                            <li>
                                                <a href="page-lock.html"><i class="icon-lock"></i> <span>Lock Screen</span></a>
                                            </li>*@
                                        <li><a href="page-login.html"><i class="icon-key"></i> <span>@Html.ActionLink("Đăng xuất", "LogOut", "Admin")</span></a></li>

                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->
        <!--**********************************
        Sidebar start
            ***********************************-->
        <div class="nk-sidebar">
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label"><strong><h5>WIBU GYM</h5></strong></li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-speedometer menu-icon"></i><span class="nav-text">Doanh Thu</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="/Admin/ManHinhAdmin">Home 1</a></li>
                            <!-- <li><a href="./index-2.html">Home 2</a></li> -->
                        </ul>
                    </li>
                    <li class="mega-menu mega-menu-sm">
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-globe-alt menu-icon"></i><span class="nav-text">Thêm</span>
                        </a>

                        <ul aria-expanded="false">
                            <li>
                                @*  <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                                        <i class="icon-speedometer menu-icon"></i><span class="nav-text">Khóa Tập</span>
                                    </a>
                                    <ul aria-expanded="false">
                                        <li><a href="/Admin/ThemKhoaTap">Khóa Không PT</a></li>
                                        <li><a href="/Admin/ThemKhoaTap_CoPT">Khóa Có PT</a></li>
                                    </ul>*@
                            <li><a href="/Admin/ThemKhoaTap">Khóa Tập</a></li>
                            <li><a href="/Admin/ThemTinTuc">Tin Tức</a></li>
                            <li><a href="/Admin/ThemCLB">CLB</a></li>
                            <li><a href="/Admin/ThemPT">PT</a></li>

                        </ul>
                    </li>
                    <li class="nav-label">Table</li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-menu menu-icon"></i><span class="nav-text">Danh Sách</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="/Admin/DanhSachKhoaTap" aria-expanded="false"> Khóa Tập</a></li>
                            <li><a href="/Admin/DanhSachHocVien" aria-expanded="false"> Hội Viên</a></li>
                            <li><a href="/Admin/DanhSachCLB" aria-expanded="false"> CLB </a></li>
                            <li><a href="/Admin/ListPT" aria-expanded="false"> PT Hướng Dẫn </a></li>
                            <li><a href="/Admin/DanhSachTinTuc" aria-expanded="false"> Tin Tức </a></li>
                            <li><a href="/Admin/DanhSachHoaDon" aria-expanded="false"> Hóa Đơn </a></li>

                        </ul>
                    </li>
                    <!--<li class="nav-label">Pages</li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-notebook menu-icon"></i><span class="nav-text">Đăng Nhập</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="./page-login.html">Login</a></li>
                            <li><a href="./page-register.html">Register</a></li>-->
                    <!-- <li><a href="./page-lock.html">Lock Screen</a></li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">Error</a>
                        <ul aria-expanded="false">
                            <li><a href="./page-error-404.html">Error 404</a></li>
                            <li><a href="./page-error-403.html">Error 403</a></li>
                            <li><a href="./page-error-400.html">Error 400</a></li>
                            <li><a href="./page-error-500.html">Error 500</a></li>
                            <li><a href="./page-error-503.html">Error 503</a></li>
                        </ul> -->
                    <!--</li>-->
                </ul>
            </div>
        </div>
        @RenderBody()
        <!--**********************************
            Sidebar end
        ***********************************-->
        <!--********************************** -->
        <!--**********************************
            Footer start
        ***********************************-->
        @*   <div class="footer">
                <div class="copyright">
                    <p>Copyright &copy; Designed & Developed by <a href="https://themeforest.net/user/quixlab">Quixlab</a> 2018</p>
                </div>
            </div>*@
        <!--**********************************
            Footer end
        ***********************************-->

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("upload", required: false)
        @RenderSection("scripts", required: false)
        <!--**********************************
            Main wrapper end
        ***********************************-->
        <!--**********************************
            Scripts
        ***********************************-->

        <script src="~/Content/plugins/common/common.min.js"></script>


        <script src="~/Content/js/custom.min.js"></script>


        <script src="~/Content/js/settings.js"></script>
        <script src="~/Content/js/gleek.js"></script>


        <script src="~/Content/js/styleSwitcher.js"></script>


        <script src="~/Content/plugins/validation/jquery.validate.min.js"></script>

        <script src="~/Content/plugins/validation/jquery.validate-init.js"></script>

        @* Thư viện JS dùng để phân trang (Danh Sách Học Viên)*@
        <script src="~/Content/plugins/tables/js/jquery.dataTables.min.js"></script>
        <script src="~/Content/plugins/tables/js/datatable/dataTables.bootstrap4.min.js"></script>
        <script src="~/Content/plugins/tables/js/datatable-init/datatable-basic.min.js"></script>



</body>
</html>

